## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET
**/appsettings.*.local.json
**/secrets.json

## OS
.DS_Store
Thumbs.db

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## Publish
publish/
*.pubxml.user
